.advantages__title {
  @include uppercase-centered;
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
}

.advantages__main-text {
  @include uppercase-centered;
  font-size: 14px;
  margin-top: 33px;
  line-height: 1.7;
}

.advantages__image {
  display: block;
  width: 100%;
  height: auto;
}

.advantages__list,
.advantages__embedded-list {
  padding: 0;
  margin: 0;
}

.advantages__list-item {
  list-style-type: none;
}

.advantages__wrapper {
  padding: 32px 20px;
}

.advantages__list-item--blue-bg .advantages__wrapper {
  padding: 40px 20px 43px;
}

.advantages__list-item--gray-bg .advantages__wrapper {
  border-bottom: 1px solid #d6d6d6;
  margin: 0 31px;
  padding: 30px 0;
}

.advantages__list-item--gray-bg:last-of-type .advantages__wrapper {
  border: none;
}

.advantages__item-title {
  font-weight: bold;
  margin: 0;
}

.advantages__item-title,
.advantages__number {
  @include uppercase-centered;
  font-size: 18px;
}

.advantages__number {
  display: block;
  width: 100%;
  padding: 11px 0 20px 0;
  font-size: 14px;
}

.advantages__text {
  @include uppercase-centered;
  font-size: 14px;
  margin: 0;
}

.advantages__text-wrapper {
  padding: 44px 20px 30px;
}

.advantages__list-item--blue-bg {
  background: $main-color;

  .advantages__item-title,
  .advantages__number,
  .advantages__text {
    color: #ffffff;
  }
}

.advantages__list-item--gray-bg {
  background: #eeeeee;
}

@media (min-width: 768px) {
  .advantages__title {
    font-size: 21px;
    line-height: 1.3;
  }

  .advantages__main-text {
    margin-top: 30px;
  }

  .advantages__text {
    margin-top: 4px;
    line-height: 1.5;
  }

  .advantages__item-title {
    font-size: 21px;
  }

  .advantages__text-wrapper {
    @include container-tablet;
    padding: 50px 20px 36px;
    box-sizing: border-box;
  }

  .advantages__list-item--blue-bg {
    display: flex;

    .advantages__wrapper {
      box-sizing: border-box;
      width: 256px;
      flex-shrink: 0;
      padding: 43px 40px;
    }

    &:nth-child(3) {
      flex-direction: row-reverse;
    }
  }

  .advantages__embedded-list {
    display: flex;

    .advantages__list-item {
      flex-grow: 1;
    }
  }

  .advantages__list-item--gray-bg .advantages__wrapper {
    border: none;
    padding: 43px 30px;
  }
}

@media (min-width: 1280px) {
  .advantages__list-item--blue-bg .advantages__wrapper {
    width: 400px;
    padding: 50px 40px;
  }

  .advantages__number {
    padding-bottom: 18px;
  }

  .advantages__list-item--gray-bg .advantages__item-title {
    max-width: 115px;
    display: block;
    margin: 0 auto;
  }

  .advantages__list-item--gray-bg .advantages__wrapper {
    border: none;
    padding-bottom: 65px;
  }
}
