.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__list-item {
  background-color: $main-color;
  list-style-type: none;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  .main-nav__link {
    @include uppercase-centered;
    display: block;
    margin-top: 15px;
    margin-bottom: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
  }

  &:last-child {
    border: none;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-around;
  }

  .main-nav__list-item {
    flex-basis: 120px;
    background: #ffffff;
    border: none;

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 5;
    }

    .main-nav__link {
      color: #000000;
      font-size: 14px;
      margin-top: 18px;
      margin-bottom: 20px;
    }
  }
}
