.media-posts__wrapper {
  padding: 22px 20px;
}

.media-posts__item {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.media-posts__title {
  font-size: 14px;
  text-transform: uppercase;
}

.media-posts__text {
  font-size: 14px;
}

.media-posts__count {
  font-weight: bold;
}

.media-posts__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

@media (min-width: 768px) {
  .media-posts {
    display: flex;
    flex-wrap: wrap;
  }

  .media-posts__item {
    flex-basis: 50%;

    &:first-child {
      flex-basis: 100%;
    }
  }
}

@media (min-width: 1280px) {
  .media-posts__item {
    flex-basis: 33%;
    flex-grow: 1;

    &:first-child {
      flex-basis: 100%;
    }
  }
}
