.media-posts__wrapper {
  padding: 22px 20px 18px;
}

.media-posts__item {
  border-bottom: 1px solid #e5e5e5;
}

.media-posts__title {
  font-size: 14px;
  text-transform: uppercase;
  margin: 19px 0 5px;
}

.media-posts__text {
  font-size: 14px;
  margin: 0 0 10px;
}

.media-posts__count {
  font-weight: bold;
  margin-left: 8px;
}

.media-posts__icon-like {
  fill: #b2b2b2;
}

.media-posts__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

@media (min-width: 768px) {
  .media-posts {
    @include container-tablet;
    display: flex;
    flex-wrap: wrap;
  }

  .media-posts__img {
    width: 324px;
  }

  .media-posts__wrapper {
    padding: 0;
  }

  .media-posts__item {
    border: none;
    flex-grow: 1;

    &:first-child {
      flex-basis: 100%;
    }
  }

  .media-posts__description {
    margin-bottom: 10px;
  }

  .media-posts__text-wrapper {
    border-top: 1px solid transparent;
    background-color: #f2f2f2;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .media-posts__item {
    &:first-child {
      flex-basis: 100%;
    }
  }

  .media-posts {
    width: 100%;
    padding: 0;
  }

  .media-posts__wrapper {
    position: relative;
  }

  .media-posts__text-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
  }

  .media-posts__icon-like {
    fill: #ffffff;
  }

  .media-posts__img {
    width: 400px;
  }
}
