.page-footer__hashtag {
  @include uppercase-centered;
  font-size: 21px;
  margin-top: 30px;
  margin-bottom: 35px;
  font-weight: bold;
  flex-grow: 1;
}

.page-footer__links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 41px;
  flex-grow: 1;
}

.page-footer__copyright {
  flex-grow: 1;
}

.page-footer__copyright-icon {
  &:hover {
    fill: $main-color;
  }
}

.page-footer__copyright-link {
  @include uppercase-centered;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.page-footer__copyright-text {
  margin-right: 14px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .page-footer {
    @include container-tablet;
    display: flex;
    //justify-content: space-between;
    padding-top: 10px;
  }

  .page-footer__hashtag {
    text-align: left;
  }

  .page-footer__copyright-link {
    justify-content: flex-end;
  }

  .page-footer__copyright {
    margin-top: 28px;
  }
}

@media (min-width: 1280px) {
  .page-footer {
    @include container-desktop;
  }

  .page-footer__hashtag {
    text-align: center;
  }

  .page-footer__copyright-link {
    margin-right: 44px;
  }

  .page-footer__links {
    margin-right: -44px;
  }
}
