.about__title {
  @include uppercase-centered;
  font-size: 18px;
  font-family: "PTSans-Bold", sans-serif;
}

.about__text {
  @include uppercase-centered;
  font-size: 14px;
  font-family: "PTSans-Regular", sans-serif;
}

.about__pics {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.about__wrapper {
  padding: 40px 20px 30px;
}
