.greeting {
	background-image: url('../img/bg-back-mobile@1x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top:90px;
	padding-bottom:90px;
	margin-top:-27px;
}
.greeting__text{
	display:block;
	margin:0 auto;
}
.visually-hidden{
	display:none;
}