.intro{
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	display: block;
	padding: 53px 45px 68px;
	margin-top: -27px;
}
.intro__img{
	display: block;
	width: 100%;
	height:auto;
	margin: 0 auto;
}