.media-posts__wrapper {
  padding: 22px 20px;
}

.media-posts__item {
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
}

.media-posts__title {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "PTSans-Bold";
}

.media-posts__text {
  font-size: 14px;
  font-family: "PTSans-Regular";
}

.media-posts__count {
  font-family: "PTSans-Bold";
}

.media-posts__img {
  display: block;
  width: 100%;
  height: auto;
}
