.page-footer__hashtag {
  font-size: 21px;
  margin-top: 0;
  margin-bottom:35px;
  @include uppercase-centered;
  font-family: "PTSans-Bold";
}

.page-footer__links{
  padding: 0;
  margin: 0 0 40px 0;
}

.page-footer__copyright{
  display: block;
  margin-bottom: 41px;
  @include uppercase-centered;
  text-decoration: none;
  font-family: "PTSans-Regular";
}
