body {
  @font-face {
    font-family: "PTSans";
    font-weight: normal;
    font-style: normal;
    src: local("PTSans"),
      url("../fonts/PTSans-Regular.woff2") format("woff2"),
      url("../fonts/PTSans-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "PTSans";
    font-weight: 700;
    font-style: normal;
    src: local("PTSans"),
      url("../fonts/PTSans-Bold.woff2") format("woff2"),
      url("../fonts/PTSans-Bold.woff") format("woff");
  }

  margin: 0;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: normal;
}

.page-header__logo {
  display: block;
  position: relative;
}

.page-header__logo img {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
