.think-about {
  margin-bottom: 80px;
}

.think-about__title {
  @include uppercase-centered;
  margin: 0 0 35px 0;
  font-size: 18px;
  font-family: "PTSans-Bold", sans-serif;
}

.think-about__text {
  @include uppercase-centered;
  margin: 0;
  font-size: 14px;
  font-family: "PTSans-Regular", sans-serif;
}

.think-about__wrapper {
  padding: 33px 20px 40px;
}
