@font-face {
  font-family: "PTSans-Regular", sans-serif;
  src: url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Bold", sans-serif;
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$main-color: #81b3d2;
